@use "variables" as *;
@use "functions" as *;
@use "sass:map";

@mixin breakpoint($breakpoint, $logic: false) {
    @if map.has-key($breakpoints, $breakpoint) {
        $breakpoint: map.get($breakpoints, $breakpoint);

        @if $logic {
            @media #{$logic} and (min-width: $breakpoint) {
                @content;
            }
        } @else {
            @media (min-width: $breakpoint) {
                @content;
            }
        }
    } @else {
        @error 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin container-styles($max-width: 100%) {
    max-width: $max-width;
    padding: 0 spacing(6);
    width: 100%;

    @include breakpoint("md") {
        max-width: $medium-screen;
        padding: spacing(0);
    }

    @include breakpoint("lg") {
        max-width: $large-screen;
    }

    @include breakpoint("xl") {
        max-width: $extra-large-screen;
    }

    @include breakpoint("xxl") {
        max-width: $double-extra-large-screen;
    }
}

@mixin text-ellipsis($number-of-lines: 1) {
    overflow: hidden;
    text-overflow: ellipsis;

    @if $number-of-lines == 1 {
        white-space: nowrap;
    } @else {
        white-space: inherit;

        @supports (-webkit-line-clamp: $number-of-lines) {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: $number-of-lines;
        }
    }
}

@mixin grid-layout {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  
    @include breakpoint('md') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
    @include breakpoint('lg') {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }