@use "variables" as *;

@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin media-md {
    @media screen and (min-width: $breakpoint-sm) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: $breakpoint-md) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin media-xxl {
    @media screen and (min-width: $breakpoint-xl) {
        @content;
    }
}

@mixin container-styles($max-width: 100%) {
    max-width: $max-width;
    padding: 0 1.5rem;
    width: 100%;

    @include media-md {
        max-width: $medium-screen;
    }

    @include media-lg {
        max-width: $large-screen;
    }

    @include media-xl {
        max-width: $extra-large-screen;
    }

    @include media-xxl {
        max-width: $double-extra-large-screen;
    }
}