@use "mixins" as *;

.desktop-hidden {
    align-items: center;
    column-gap: 0.5rem;
    display: flex;
    
    @include breakpoint('lg') {
        display: none;
    }
}

.mobile-hidden {
    display: none;

    @include breakpoint('lg') {
        align-items: center;
        column-gap: 0.5rem;
        display: flex;
    }
}