@use "variables" as *;
@use "mixins" as *;
@use "components" as *;
@use "utilities" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    font-family: $kui-font-family-text;
}

body {
    background-color: #F8F8FA;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

